{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load content_tags %}
{% get_content 'our-history' as history %}
{% get_content 'mission' as mission %}
{% get_content 'team' as team %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">{{ history.subtitle }}</span>
                        <span class="section-heading-lower">{{ history.title }}</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="{{ history.image.url }}" alt="{{ history.title }}"
                 style="object-fit: cover; width: 700px; height: 500px;"/>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">
                    {{ history.body|linebreaks }}
                </p></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">{{ mission.subtitle }}</span>
                        <span class="section-heading-lower">{{ mission.title }}</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="{{ mission.image.url }}" alt="{{ mission.title }}"
                 style="object-fit: cover; width: 600px; height: 500px;"/>
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded"><p class="mb-0">
                    <p class="mb-3">
                        {{ mission.body|linebreaks }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">{{ team.subtitle }}</span>
                        <span class="section-heading-lower">{{ team.title }}</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="{{ team.image.url }}" alt="{{ team.title }}"
                 style="object-fit: cover; height: 540px; width: 100%;">
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">{{ team.body|linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}