{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 mb-4">
            <div class="cta-inner bg-faded rounded h-100 p-4">
                <h2>Регистрация пользователя</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mx-3">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}